<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
</head>
<body>
<form id="login-form">
    <h2>Username: </h2><br>
    <input type="text" id="username-input"><br>
    <h2>Password: </h2><br>
    <input type="password" id="password-input"><br>
    <button type="submit" id="login-button">LOGIN</button>
</form>
</body>

<script th:src="@{/assets/js/script.js}"></script>
</html>